loguru==0.5.3
albumentations==1.0.2
thop==0.0.31.post2005241907
tensorrt==8.2.1.8
pycuda==2020.1
numpy==1.19.5
pafy==0.5.5
requests==2.25.1
tqdm==4.56.0
scipy==1.6.0
matplotlib==3.3.3
pynvml==11.0.0
opencv_contrib_python==4.5.3.56
seaborn==0.11.1
omegaconf==2.1.1
pandas==1.2.0
torchvision==0.8.2
torch==1.7.1
Pillow==9.0.0
protobuf==3.19.3
PyYAML==6.0
tensorflow==2.7.0
